body {
    margin: auto;
    background-color:rgb(68, 66, 66);
}
div#principal {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}
header#nome h1.name {
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}
div#principal h2 {
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}
div#principal p.sub{
    font-family: Arial, sans-serif;
    font-size: 15pt;
    color: #050505;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-top: 10px;
}

p {
    font-size: 15pt;
    padding: -6px;
    margin-bottom: 0px;
    margin-top: 0px;
}
